files:
  "/opt/amazon-cloudwatch-agent.rpm":
    source: 'https://s3.`{"Ref" : "AWS::Region"}`.amazonaws.com/amazoncloudwatch-agent-`{"Ref" : "AWS::Region"}`/amazon_linux/amd64/latest/amazon-cloudwatch-agent.rpm'
    owner: root
    group: root
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "cwagent"
        },
        "metrics": {
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
            "ImageId": "${aws:ImageId}",
            "InstanceId": "${aws:InstanceId}",
            "InstanceType": "${aws:InstanceType}"
          },
          "aggregation_dimensions": [
            ["AutoScalingGroupName"],
            ["InstanceId"],
            ["AutoScalingGroupName", "InstanceId"],
            []
          ],
          "metrics_collected": {
            "collectd": {
              "metrics_aggregation_interval": 60
            },
            "cpu": {
              "measurement": [
                "cpu_usage_idle",
                "cpu_usage_iowait",
                "cpu_usage_user",
                "cpu_usage_system"
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ],
              "totalcpu": true
            },
            "disk": {
              "measurement": [
                "disk_used_percent",
                "used_percent",
                "inodes_free"
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ]
            },
            "diskio": {
              "measurement": [
                "io_time"
              ],
              "metrics_collection_interval": 60,
              "resources": [
                "*"
              ]
            },
            "mem": {
              "measurement": [
                "mem_used_percent"
              ],
              "metrics_collection_interval": 60
            },
            "statsd": {
              "metrics_aggregation_interval": 60,
              "metrics_collection_interval": 10,
              "service_address": ":8125"
            },
            "swap": {
              "measurement": [
                "swap_used_percent"
              ],
              "metrics_collection_interval": 60
            }
          }
        }
      }
    owner: root
    group: root
