commands:
  01-debug-environment:
    test: test -f get-config
    command: |
      sh -c './get-config environment'
    cwd: /opt/elasticbeanstalk/bin
    ignoreErrors: true
  02-install-collectd:
    command: |
      sudo amazon-linux-extras install -y collectd
  03-configure-cw-agent-service:
    command: |
      sudo amazon-cloudwatch-agent-ctl\
        -a fetch-config\
        -m ec2\
        -c file:amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json\
        -s
    cwd: /opt/aws
  04-restart-cw-agent-service:
    command: |
      sudo systemctl restart amazon-cloudwatch-agent
  05-upgrade-pip:
    test: test ! $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .PYTHONPATH) = 'null'
    command: sudo $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .PYTHONPATH)/pip install --upgrade pip
