container_commands:
  01-debug-container:
    test: test -f get-config
    command: sh -c './get-config container environment'
    cwd: /opt/elasticbeanstalk/bin
  02-delete-ephemeral-assets:
    test: test ! $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .PYTHONPATH) = 'null'
    command: |
      sudo rm -rf ${PYTHONPATH}/vpnprofiles\
        ${PYTHONPATH}/ddwrt-mypage\
        ${PYTHONPATH}/country-flags
    ignoreErrors: true
