option_settings:
  aws:autoscaling:asg:
    MinSize: 2
    MaxSize: 4
  aws:autoscaling:trigger:
    LowerBreachScaleIncrement: '-1'
    UpperBreachScaleIncrement: '1'
    UpperThreshold: '200000000'
    BreachDuration: '5'
    EvaluationPeriods: '1'
    LowerThreshold: '20000000'
    MeasureName: NetworkOut
    Period: '5'
    Statistic: Average
    Unit: Bytes
