# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-resources.html
Resources:
  HTTPListener:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      DefaultActions:
      - RedirectConfig:
          Host: '#{host}'
          Path: '/#{path}'
          Port: 443
          Protocol: 'HTTPS'
          Query: '#{query}'
          StatusCode: HTTP_301
        Type: redirect
      # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-format-resources-eb.html
      LoadBalancerArn: {"Ref":"AWSEBV2LoadBalancer"}
      Port: 80
      Protocol: 'HTTP'
