container_commands:
  01-disable-access-logs:
    command: |
      sudo bash -c 'sed -i'' '/access_log/d' nginx.conf'
    test: test $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .LOGGING) -eq 0
    cwd: /etc/nginx
  02-disable-error-logs:
    command: |
      sudo bash -c 'sed -i'' '/error_log/d' httpd.conf'
    test: test $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .LOGGING) -eq 0
    cwd: /etc/nginx
  03-disable-web-logs:
    command: |
      sudo bash -c 'sed -i'' 's#/var/log/web.stdout.log#/dev/null#g' web.conf'
    test: test $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .LOGGING) -eq 0
    cwd: /etc/rsyslog.d
  04-restart-rsyslogd:
    command: |
      sudo bash -c 'systemctl restart rsyslog'
    test: test $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .LOGGING) -eq 0
  05-delete-logs:
    command: |
      sudo bash -c 'rm -rf /var/log/web.stdout.log /var/log/nginx/*'
    test: test $(/opt/elasticbeanstalk/bin/get-config environment | jq -r .LOGGING) -eq 0
